Repository DS4SD/quackling: changes, and which pre-commit hooks are due for each by the changed paths.
All: system, pytest

system:
  name: nbqa isort
  entry: poetry run nbqa isort examples
  pass_filenames: false
  language: system

pytest:
  name: Pytest
  entry: poetry run pytest tests
  pass_filenames: false
  language: system

ci: add CI/CD pipeline
  .github/actions/setup-poetry/action.yml
  .github/scripts/release.sh
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  poetry.lock
  pyproject.toml
Due: none

ci: add CI/CD pipeline (#1)
  .github/actions/setup-poetry/action.yml
  .github/scripts/release.sh
  .github/workflows/cd.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  poetry.lock
  pyproject.toml
Due: none

fix: add missing py.typed marker file
  quackling/py.typed
Due: none

fix: add missing py.typed marker file (#2)
  quackling/py.typed
Due: none

chore: update dependencies
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
  quackling/llama_index/readers/docling_reader.py
Due: system, pytest

chore: update dependencies (#3)
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
  quackling/llama_index/readers/docling_reader.py
Due: system, pytest

test: add retrieval test
  .github/actions/setup-poetry/action.yml
  quackling/llama_index/node_parsers/hier_node_parser.py
  tests/data/2_out_retrieval_results.json
  tests/test_li_hierarchical_node_parser.py
  tests/test_retrieval.py
Due: system, pytest

limit assertion to node text content
  .github/workflows/checks.yml
  tests/data/2_out_retrieval_results.json
  tests/test_retrieval.py
Due: system, pytest

split unit & integration tests
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tests/integration/data/0_out_retrieval_results.json
  tests/integration/test_retrieval.py
  tests/unit/data/0_inp_dl_doc.json
  tests/unit/data/0_out_chunks_with_meta.json
  tests/unit/data/0_out_chunks_wout_meta.json
  tests/unit/data/1_inp_li_doc.json
  tests/unit/data/1_out_nodes.json
  tests/unit/test_hierarchical_chunker.py
  tests/unit/test_li_hierarchical_node_parser.py
Due: system, pytest

add `id_gen_seed` description
  quackling/llama_index/node_parsers/hier_node_parser.py
Due: system, pytest

test: add integration test for retrieval (#4)
  .github/actions/setup-poetry/action.yml
  .github/workflows/checks.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  quackling/llama_index/node_parsers/hier_node_parser.py
  tests/integration/data/0_out_retrieval_results.json
  tests/integration/test_retrieval.py
  tests/unit/data/0_inp_dl_doc.json
  tests/unit/data/0_out_chunks_with_meta.json
  tests/unit/data/0_out_chunks_wout_meta.json
  tests/unit/data/1_inp_li_doc.json
  tests/unit/data/1_out_nodes.json
  tests/unit/test_hierarchical_chunker.py
  tests/unit/test_li_hierarchical_node_parser.py
Due: system, pytest

chore: include reranker in hybrid pipeline example
  README.md
  examples/hybrid_pipeline.ipynb
  poetry.lock
  pyproject.toml
Due: system

chore: include reranker in hybrid pipeline example (#5)
  README.md
  examples/hybrid_pipeline.ipynb
  poetry.lock
  pyproject.toml
Due: system

chore: drop `pydantic.v1` API usage after LlamaIndex 0.11 upgrade
  quackling/llama_index/node_parsers/hier_node_parser.py
Due: system, pytest

chore: drop `pydantic.v1` API usage after LlamaIndex 0.11 upgrade (#6)
  quackling/llama_index/node_parsers/hier_node_parser.py
Due: system, pytest

Update README.md
  README.md
Due: none

docs: Update docling link on README (#7)
  README.md
Due: none

chore: fix pre-commit hook IDs
  .pre-commit-config.yaml
Due: none

chore: fix pre-commit hook IDs (#8)
  .pre-commit-config.yaml
Due: none

chore: update dependencies
  poetry.lock
  pyproject.toml
  tests/integration/data/0_out_retrieval_results.json
Due: none

chore: update dependencies (#9)
  poetry.lock
  pyproject.toml
  tests/integration/data/0_out_retrieval_results.json
Due: none

refactor: refactor LlamaIndex extensions
  README.md
  examples/basic_pipeline.ipynb
  examples/hybrid_pipeline.ipynb
  examples/native_nodes.ipynb
  examples/node_transformations.ipynb
  examples/prev_next_augmentation.ipynb
  poetry.lock
  pyproject.toml
  quackling/core/chunkers/__init__.py
  quackling/llama_index/node_parsers/__init__.py
  quackling/llama_index/node_parsers/hier_node_parser.py
  quackling/llama_index/readers/__init__.py
  quackling/llama_index/readers/base.py
  quackling/llama_index/readers/docling_pdf_reader.py
  quackling/llama_index/readers/docling_reader.py
  tests/integration/test_retrieval.py
  tests/unit/test_hierarchical_chunker.py
  tests/unit/test_li_hierarchical_node_parser.py
Due: system, pytest

feat: refactor & simplify import of core classes & extensions (#11)
  README.md
  examples/basic_pipeline.ipynb
  examples/hybrid_pipeline.ipynb
  examples/native_nodes.ipynb
  examples/node_transformations.ipynb
  examples/prev_next_augmentation.ipynb
  poetry.lock
  pyproject.toml
  quackling/core/chunkers/__init__.py
  quackling/llama_index/node_parsers/__init__.py
  quackling/llama_index/node_parsers/hier_node_parser.py
  quackling/llama_index/readers/__init__.py
  quackling/llama_index/readers/base.py
  quackling/llama_index/readers/docling_pdf_reader.py
  quackling/llama_index/readers/docling_reader.py
  tests/integration/test_retrieval.py
  tests/unit/test_hierarchical_chunker.py
  tests/unit/test_li_hierarchical_node_parser.py
Due: system, pytest

feat: create a docling reader for docs as JSON.
  quackling/llama_index/readers/__init__.py
  quackling/llama_index/readers/docling_json_reader.py
  tests/unit/test_li_docling_json_reader.py
Due: system, pytest

feat: create a docling reader for docs as JSON. (#10)
  quackling/llama_index/readers/__init__.py
  quackling/llama_index/readers/docling_json_reader.py
  tests/unit/test_li_docling_json_reader.py
Due: system, pytest

feat: add LangChain extensions
  README.md
  examples/langchain/basic_pipeline.ipynb
  examples/llama_index/basic_pipeline.ipynb
  examples/llama_index/hybrid_pipeline.ipynb
  examples/llama_index/native_nodes.ipynb
  examples/llama_index/node_transformations.ipynb
  examples/llama_index/prev_next_augmentation.ipynb
  poetry.lock
  pyproject.toml
  quackling/langchain/__init__.py
  quackling/langchain/loaders/__init__.py
  quackling/langchain/loaders/base.py
  quackling/langchain/loaders/docling_pdf_loader.py
  quackling/langchain/splitters/__init__.py
  quackling/langchain/splitters/hier_json_splitter.py
Due: system, pytest

feat: add LangChain extensions (#13)
  README.md
  examples/langchain/basic_pipeline.ipynb
  examples/llama_index/basic_pipeline.ipynb
  examples/llama_index/hybrid_pipeline.ipynb
  examples/llama_index/native_nodes.ipynb
  examples/llama_index/node_transformations.ipynb
  examples/llama_index/prev_next_augmentation.ipynb
  poetry.lock
  pyproject.toml
  quackling/langchain/__init__.py
  quackling/langchain/loaders/__init__.py
  quackling/langchain/loaders/base.py
  quackling/langchain/loaders/docling_pdf_loader.py
  quackling/langchain/splitters/__init__.py
  quackling/langchain/splitters/hier_json_splitter.py
Due: system, pytest

fix: trigger final release incl. transition notice
  README.md
  quackling/__init__.py
Due: system, pytest

fix: trigger final release incl. transition notice (#14)
  README.md
  quackling/__init__.py
Due: system, pytest

Path conditions:
  system: ((any of: \.py$) or (any of: \.ipynb$)) or (any of: \.ipynb$)
  pytest: any of: \.py$
